server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: devops-demo

app:
  version: ${APP_VERSION:1.0.0}
  environment: ${APP_ENVIRONMENT:development}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
