name: Build spring-boot-starter-parent
on:
  push:
    branches:
      - main
      - master
    paths:
      - .github/workflows/**
      - pom.xml
      - src/**
  pull_request:
    branches:
      - main
      - master
    paths:
      - .github/workflows/**
      - pom.xml
      - src/**
  workflow_dispatch:
env:
  ARTIFACT_ID: spring-boot-starter-parent
  VERSION: 3.2.0
  GROUP_ID: org.springframework.boot
jobs:
  build:
    name: Maven Build
    "runs-on": self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          "java-version": 17
          distribution: temurin
          cache: maven
      - name: Build with Maven
        run: mvn clean package -DskipTests
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: spring-boot-starter-parent-war
          path: target/*.war
          "retention-days": 5
